
#header{
  padding:10px;
  background-color: #22450E;
  font-family: 'Brush Script MT', cursive;
  font-size:60px;
  color: #BACC99;
  text-align: center;
}
/* w3schools.(n.d).Retrieved December 1, 2021, from https://www.w3schools.com/css/css_website_layout.asp */
.navTop{
  overflow:hidden;
  background-color: #D8D1B7;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
}
.navTop a {
  float:left;
  display:block;
  color:#223115;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}
.navTop a:hover {
  background-color: #9A9789;
  color:black;
}
/* w3schools.(n.d.).Retrieved December 1, 2021, from https://www.w3schools.com/howto/howto_make_a_website.asp */
* {
  box-sizing: border-box;
}
#wrapper{
  display: flex;
  flex-wrap: wrap;
}
#navigationBar{
  flex: 15%;
  background-color: #BACC99;
  padding: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  color:#223115;
}

#content{
  flex: 85%;
  background-color:#EAF1D1 ;
  padding: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  color:#223115;
}
.img2{
  height:450px;
  width:100%;
}
.img1{
  height:30%;
  width:30%;
  border:solid 2px #22450E;
}
.img3{
  height: 300px;
  width:32%;
  border:solid 2px #22450E;
}
.center {
  display: block;
  margin:0 auto;
}
/* w3schools.(n.d).Retrieved December 2, 2021, from https://www.w3schools.com/css/css3_buttons.asp */
.button{
background-color: #EAF1D1;
color:black;
border:2px solid #22450E;
padding:10px;
border-radius: 12px;
transition-duration: 0.4s;
width:80px;
font-size: 15px;
}
.button:hover {
background-color: #22450E; /* Green */
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #4CAF50; /* Green */
  color: white;
}
/* w3schools.(n.d.).Retrieved December 1, 2021, from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #EAF1D1;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #95B27D;
}

.container input:checked ~ .checkmark {
  background-color: #22450E;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
hr{
  border: 2px solid #22450E;
  border-radius: 5px;

}
#numIncrease{
  padding:0% 50% 0% 50%;
  font-size: 30px;
  font-weight:bold;
  display: block;
  margin:0 auto;
}
h2{
  text-align: center;
}
#email,#message{
  font-size:15px;
  font-family: 'Times New Roman', serif;
}
.link{
  color:#223115;
  font-size:17px;
}
a:hover{
  color: #9A9789;
}
#footer{
  padding:1px 15px 1px 15px;;
  background: #22450E;
  font-family: 'Times New Roman', serif;
  font-size:15px;
  color: #BACC99;
  font-style: italic;
}
